body{

    margin: 0;
    padding: 0;   
    background-color: rgb(58, 56, 56);
}
#imagem{
 border-radius: 50px;
}
h1{
 color: bisque;
}
.paragrafo{
 background-color: #ccc;
 width: 700px;
 padding: 10px;

}
.cursos,h2{
 color: #fff;
}